body {
  font-family: 'Montserrat', sans-serif;
}

.mg-5 {
  margin: 5vh;
}

.navbar {
  background: #ECECEC;
  margin-bottom: 0;
}

.navbar navbar-brand {
  color: #FFF;
}

.jumbotron {
  background: #1D3453;
  color:  #FFF;
  height: 60vh;
}

.text-size-version {
  font-size: 30px;
}

.panel a {
  color: #FFF;
  text-decoration: none; 
}

form {
  border: 1px solid #DDDDDD;
  box-shadow: 2px 3px 3px rgb(184, 182, 182);
  padding: 2vh;  
}

.line-height {
  line-height: 2;
}

footer {
  background: #E2E1E1;
  margin-top: 5vh;
  padding: 2vh;
}

img.logo {
  height: 40px;
  width: 30%;
}

img.logo-header {
  height: 15em;
}

a.library {
  color: #000;
}

a.library:hover {
  color: #1D3453;
  text-decoration-line: underline;
}

.vh85 {
  height: 85vh;
}