.navbar {
  margin-bottom: 0;
  background: #ececec;
  /*color: #fff!important;*/
}

.navbar navbar-brand {
  color: white;
}
.jumbotron {
  background: #1D3453;
  color:  #fff;
}
footer {
  background: #e2e1e1;
  margin-top: 5vh;
  padding: 2vh;
}